@font-face {
  font-family: 'Jost', sans-serif;
  src: url('/fonts/Jost-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
}

body {
  background: #F7F8FD;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

