.main {
  width: 100%; 
  max-width: 1440px; 
  background-color: #F7F8FD;
}

/* Default margin size */
.main {
  margin-left: 140px;
  margin-right: 140px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .main {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    /* background-color: green; */
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px 0; 
    /* background-color: yellow; */
  }
}

/* Media query for laptops */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main {
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px 0; 
    /* background-color: red; */
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
  .main {
    margin-left: 140px;
    margin-right: 140px;
    padding: 50px 0; 
    /* background-color: blue; */
  }
}

